.v-md-container{
    background: #f5f5f5;
    border: solid 1px #ddd;
}

.v-md-container > .v-md-toolbar{
    padding: 8px 5px;
    border-bottom:  solid 1px #ddd;
    height: 52px;
}

.v-md-wrapper{
    position: relative;   
}

.v-md-preview{
    display: none;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    padding: 5px;
    overflow: auto;
    color: #333;
    height: auto !important;
}


.v-md-container .clipboard-text{
    height: 250px;
}

.v-md-fullscreen{
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    z-index: 99999;
}

.v-md-container .CodeMirror{
    font-family:Arial, Helvetica, sans-serif;
  
}

.v-md-fullscreen .v-md-preview{
    position: fixed !important;
    top: 52px;
}

.CodeMirror-fullscreen{
    position: fixed !important;
    top: 52px;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto !important;
    z-index: 9;
}

.v-md-container .modal{
    z-index: 1080 !important;
}

.v-md-container .modal .btn{
    min-width: 90px;
}
.float-left{
    float: left !important;
}