.v-md-container {
    border: solid 1px #ddd;
    background: #fff;
}

.v-md-container>.v-md-toolbar {
    padding: 8px 5px;
    border-bottom: solid 1px #ddd;
    background: #f5f5f5;
    /* height: 52px; */
}

.v-md-wrapper {
    position: relative;
    /* padding: 5px; */
}


.v-md-preview {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    padding: 5px;
    overflow: auto;
    color: #333;
    height: auto !important;
}

.v-md-fullscreen {
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    z-index: 99999;
}


.v-md-fullscreen .v-md-preview {
    position: fixed !important;
    top: 52px;
}


.v-md-auto-resize .CodeMirror {
    height: auto !important;
}

.v-md-auto-resize .CodeMirror-scroll {
    overflow: auto;
    height: auto;
    overflow: visible;
    position: relative;
    outline: none;
    min-height: 250px;    
}

.v-md-wrapper .CodeMirror-fullscreen {
    position: fixed !important;
    top: 52px;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto !important;
    z-index: 9;
}
/* 
.v-md-wrapper .CodeMirror-scroll *{
    white-space: pre-wrap;
} */

/* 
.v-md-wrapper .CodeMirror-line {
    white-space: unset !important;
} */ 

/* 
.v-md-container .cm-scroller{
    
    height: 280px;
    font-family: unset;
} */

/* .v-md-auto-resize .cm-scroller {
    overflow: auto;
    height: auto;
    overflow: visible;
    position: relative;
    outline: none;
    min-width: auto;   
    
}


.v-md-wrapper .cm-wrap.cm-focused{
    outline: 0;
}
.v-md-wrapper .cm-content{
    white-space: unset;
    font-family: unset;
}

.cm-keyword {
    color: #708;
}

.cm-atom {
    color: #219;
}

.cm-number {
    color: #164;
}

.cm-def {
    color: #00f;
}

.cm-variable, .cm-punctuation, .cm-property, .cm-operator {}

.cm-variable-2 {
    color: #05a;
}

.cm-variable-3, .cm-type {
    color: #085;
}

.cm-comment {
    color: #a50;
}

.cm-string {
    color: #a11;
}

.cm-string-2 {
    color: #f50;
}

.cm-meta {
    color: #555;
}

.cm-qualifier {
    color: #555;
}

.cm-builtin {
    color: #30a;
}

.cm-bracket {
    color: #997;
}

.cm-tag {
    color: #170;
}

.cm-attribute {
    color: #00c;
}

.cm-hr {
    color: #999;
}

.cm-link {
    color: #00c;
} */